<!DOCTYPE html>
<html>
  <head>
    <title>ALBBANO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/assets/img/char_albbano.webp">
    <link rel="apple-touch-icon" href="/assets/img/char_albbano.webp">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div style="display: inline-block; max-width: 400px;">
        <span style="float: right; width: 15%"><img src="/assets/img/char_albbano.webp" width="100%" style="border-radius: 20%"></span>
        <h2 style="float: left; margin-right: 20px">TM.알빠노</h2><br>
        <p style="float: left;">이런들 어떠하리, 저런들 어떠하리..</p>
      </div>
    </header>
    <%= render 'layouts/menu' %>

    <div class="background">
      <div id="wrap" class="content_wrap background6">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
